.new-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.new-todo_list {
  margin-left: 10px;
}

.todo-list {
  border-collapse: collapse;
}
.todo-list thead {
  background-color: rgb(179, 179, 179);
}
.todo-list th,
.todo-list td {
  width: 150px;
  border: 1px solid;
  padding: 10px;
}

.filter {
  margin: 10px 0;
}